<!Doctype html>
<html>

<head>
  <title>DGX</title>
  <script>
    function submitForm() {
      alert('You just tried to submit a form');
    }

  </script>
</head>

<body>
  <strong>DGX</strong>

  <!-- Put page behind a user/pass. htaccess !-->

  <br>
  <br> MPX on top of MPX is DGX
  <hr> Show name
  <p>Please ensure show name is the OFFICIAL show title before submitting.
    <br>Values are case-sensitive.
    <form action="myurl" method="POST" name="myForm">
      <label for="network">Network:</label>
      <select name="Network">
            <option value="AMC">AMC</option>
            <option value="IFC">IFC</option>
            <option value="WE tv">WE tv</option>
            <option value="Sundance">Sundance</option>
            <option value="BBCA">BBCA</option>
          </select>
      <br><input type="radio" name="env" value="Production" checked> Production <input type="radio" name="env" value="stage"> Stage <input type="radio" name="env" value="dev"> Dev
      <p><label for="show_name">Show Name: </label><input type="text" name="show_name" id="sname" style="width: 300px;">
        <p>
          <input value="Add" type="submit" onclick="submitForm()">
          <!-- Visual warning to confirm show name is entered correctly __>
    </form>
    <p>
      <hr> Existing Shows
      <br> 4th and Loud, AMC Comic Con, AMC Conversations, AMC Fearfest, AMC News, Better Call Saul, Breaking Bad, Brockmire, Broken Trail, Class, Cleverman, Comic Book Men, Dietland, Dirk Gently's Holistic Detective Agency, Doctor Who, Fear the Walking
      Dead, Fear the Walking Dead: Passage, Feed the Beast, Freakshow, Game of Arms, Geeking Out, Halt and Catch Fire, Hap and Leonard, Hell on Wheels, HUMANS, Imagine: John Lennon 75th Birthday Concert, Immortalized, Into the Badlands, James Cameron's
      Story of Science Fiction, Killing Eve, Live Stream, Liza Life Coach, Loaded, Lodge 49, Low Winter Sun, Mad Men, McMafia, The Minds Behind: Dietland, The Minds Behind: The Walking Dead, Mob Week, Owner's Manual, Planet Earth II, Preacher, Rectify,
      Rebellion, Ride with Norman Reedus, Robert Kirkman's Secret History of Comics, Rubicon, Shootout, Showville, Small Town Security, Stan Against Evil, Story Notes, Storymakers, Talking Bad, Talking Dead, Talking Preacher, Talking Saul, Talking with
      Chris Hardwick, TCA, The American West, The Killing, The Making of the Mob, The Night Manager, The Pitch, The Prisoner, QA Show, The Rifleman, The Son, The Terror, The Three Stooges, The Trivial Pursuits of Arthur Banks, The Walking Dead, The Walking
      Dead Extended Episodes, The Walking Dead Red Machete, Top of the Lake, TURN, Unapologetic with Aisha Tyler, Western Movies
</body>

</html>
