<html>

<head>
  <meta charset="utf-8">
  <title>Login (to Warble)</title>
  <script src="session.js" defer></script>
  <script src="tasks.js" defer></script>
  <script src="login.js" defer></script>

</head>

<body>
  <header class='header' id='header'>
    <h1>Login (to Warble)</h1>
    <a href='javascript: signOut(); window.location.href = "login.html"' class='signOut'>Sign Out</a>
  </header>
  <buffer>
    <hr>
    <hr>
    <hr> </buffer>
  <p>Please Login to use Warble</p>

  <p id="responseID"></p>
  <p id="loginResponse"></p>

  <div class="form">
    <label for="usernameField">Enter a username: </label>
    <input type="text" id="usernameField" class="usernameField">

    <label for="passwordField">Enter a password: </label>
    <input type="password" id="passwordField" class="passwordField">

    <input type="submit" value="Attempt Login" class="loginAttempt">
  </div>

  <div class="resultParas">
    <p class="lastAttempt"></p>
    <p class="errorCase"></p>
  </div>

  <div id="redirecting"></div>

  <!-- We want to click the button, do the login request and test on this page,
     and if it succeeds, send us to the main page !-->

</body>

</html>
