<!DOCTYPE html>
<html>

<head>
  <title> Warble, adding a show (custom field) to an account in MPX - (modify the corresponding 'Show' customfield)</title>
  <script src="session.js" defer></script>
  <script src="warbleAddShow.js"></script>
  <script src="warble.js" defer></script>
</head>

<body>
  <header class='header' id='header'>
    <h1>Welcome (to Warble)</h1>
    <button onclick="javascript:signOut(); window.location.href = 'warble.html'">Sign Out</button>
    <button onclick="javascript:exitAccount();">Choose Account Again</button>
  </header>
  <buffer>
    <hr>
    <hr>
    <hr>
  </buffer>

  <!-- <form id="selectAccount">
    <label for="AccountField">Account:</label>
    <input type="radio" id="AccountField" class="AccountField">
    <label for="addShowField">Add This Show:</label>
    <input type="text" id="addShowField" class="addShowField">
    <input type="submit" value="Add" class="addShowAttempt">
  </form> !-->
  <!-- delete this !-->
  <div id="stuff"> </div>
</body>

</html>
